# frontend
PUBLIC_URL=http://localhost:3000
APP_HOST=0.0.0.0
APP_PORT=3000
JWT_SECRET=xxxxxxxxxxxxxxxxxxxx
BACKEND_BASE_URL=http://backend:5000
DB_TYPE=sqlite
DB_HOST=mariadb-host
DB_PORT=3306
DB_NAME=caa_database
DB_USER=caa
DB_PASSWORD=caa

# backend openai
BACKEND_TYPE=openai
LLM_HOST=https://your-openwebui-host/api
OPENAI_API_KEY=your-openwebui-key
LLM_MODEL=your-openwebui-model

# backend ollama
# BACKEND_TYPE=ollama
#LLM_HOST=http://host.docker.internal:11434
#LLM_MODEL=llama3.1:8b
